<% if (success && success.length) { %>
    <div style="width: fit-content;" class="alert alert-success alert-dismissible fade show ps-3 pe-5 mx-auto" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <% if (error && error.length) { %>
            <div style="width: fit-content;" class="alert alert-danger alert-dismissible fade show ps-3 pe-5 mx-auto" role="alert">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>