<footer class="footer bg-white py-3 mt-auto">
    <div class="container">
        <span>&copy;SendSheet 2024 by <a style="color: #588157;" class="text-decoration-none" href="https://github.com/btoch23" target="_blank">Brian Tochterman</a></span>
    </div>
</footer>