<nav class="navbar sticky-top navbar-expand-md py-4 bg-white">
    <div class="container-fluid">
        <div class="navbar-nav flex-row align-items-center">
            <span class="material-symbols-outlined d-md-none ms-4 me-2">
                <a style="color: #588157" class="text-decoration-none" href="/">landscape</a>
            </span>
            <a style="color: #588157;" class="navbar-brand d-md-none" href="/">
                SendSheet
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-4 me-auto">
                <a class="nav-link" href="/problems">Journal</a>
                <a class="nav-link" href="/stats/boulders">Statistics</a>
                <a class="nav-link" href="/about">About</a>
            </div>
            <div class="navbar-nav mx-auto align-items-center">
                <span class="material-symbols-outlined d-none d-md-block me-2">
                    <a onmouseover="navbrandMouseover(this)" onmouseout="navbrandMouseout(this)" style="color: #588157; font-size: 2.5rem;" class="text-decoration-none" href="/">landscape</a>
                </span>
                <a onmouseover="navbrandMouseover(this)" onmouseout="navbrandMouseout(this)" style="color: #588157; font-size: 2rem;" class="navbar-brand d-none d-md-block" href="/">
                    SendSheet
                </a>
            </div>
            <span class="navbar-nav me-4 ms-auto">
                <a class="nav-link ps-4" href="/login">Log In</a>
                <a class="nav-link" href="/logout">Log Out</a>
                <a onmouseover="signupBtnMouseover(this)" onmouseout="signupBtnMouseout(this)" style="background-color: #f6aca2;" class="rounded nav-link text-white ps-4 px-md-3 mx-md-2" href="/register">Sign Up</a>
            </span>
        </div>
    </div>
</nav>

<script>
    const signupBtnMouseover = (x) => {
        x.style.backgroundColor = '#da9990'
        x.style.transition = 'all 0.3s'
    }
    const signupBtnMouseout = (x) => {
        x.style.backgroundColor = '#f6aca2'
    }

    const navbrandMouseover = (x) => {
        x.style.color = '#476947'
        x.style.transition = 'all 0.3s'
    }
    const navbrandMouseout = (x) => {
        x.style.color = '#588157'
    }

</script>