<nav class="navbar sticky-top navbar-expand-md py-4 bg-white">
    <div class="container-fluid">
        <div class="navbar-nav flex-row align-items-center">
            <span class="material-symbols-outlined ms-4 me-2">
                <a id="navBrandIcon" class="text-decoration-none" href="/">landscape</a>
            </span>
            <a id="navBrand" class="navbar-brand" href="/">
                SendSheet
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-2 me-auto">
                <a class="nav-link" href="/problems">Journal</a>
                <a class="nav-link" href="/stats/boulders">Statistics</a>
                <a class="nav-link" href="/about">About</a>
            </div>
            <span class="navbar-nav me-4 ms-auto">
                <% if (!currentUser) {%>
                    <a class="nav-link ps-4" href="/login">Log In</a>
                    <a id="signupBtn" class="rounded nav-link text-white ps-4 px-md-3 mx-md-2" href="/register">Sign Up</a>
                    <% } else { %>
                        <a class="nav-link ps-4" href="/logout">Log Out</a>
                        <% } %>
            </span>
        </div>
    </div>
</nav>