<nav class="navbar sticky-top navbar-expand-lg py-4 bg-white">
    <div class="container-fluid">
        <span class="material-symbols-outlined ms-4 me-2">
            <a style="color: #588157" class="text-decoration-none" href="/">landscape</a>

        </span>
        <a style="color: #588157" class="navbar-brand" href="/">
            SendSheet
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/problems">Journal</a>
                <a class="nav-link" href="/stats/boulders">Statistics</a>
                <a class="nav-link" href="/about">About</a>
            </div>
            <span class="navbar-nav me-4">
                <a style="background-color: #a3b18a;" class="rounded nav-link px-3 mx-2" href="/users/signup">Sign Up</a>
                <a class="nav-link" href="/users/login">Log In</a>
            </span>
        </div>
    </div>
</nav>