<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark py-3">
    <div class="container-fluid">
        <a class="navbar-brand ms-4" href="/">
            <span class="material-symbols-outlined">
                landscape
            </span>
            <!-- <i class="fa-solid fa-person-hiking mx-2"></i> -->
            SendSheet
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/stats">Statistics</a>
                <a class="nav-link" href="/about">About</a>
            </div>
            <span class="navbar-nav me-4">
                <a class="nav-link" href="/users/signup">Sign Up</a>
                <a class="nav-link" href="/users/login">Log In</a>
            </span>
        </div>
    </div>
</nav>