<% layout('layouts/boilerplate') %>
    <div class="container d-flex flex-column flex-lg-row">
        <div class="container shadow md-6 rounded bg-white px-4 py-3 mb-5 mx-2">
            <h4 class="display-4 mb-3">About SendSheet</h4>
            <p>SendSheet was created by Brian Tochterman in 2024 as a way to hone his skills with full-stack web development while building something useful.
                An avid climber, Brian wanted to develop his own web application to record his personal projects in the gym and to track his progress over time.
                We're currently in the development stage but check back regularly for updates!
            </p>
            <div class="row">
                <div class="col-6 text-center">
                    <p style="color: #586994;" class="lead text-center"><strong>Front-End Stack</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">HTML</li>
                        <li class="list-group-item">JavaScript</li>
                        <li class="list-group-item">EJS</li>
                        <li class="list-group-item">Bootstrap</li>
                    </ul>
                </div>
                <div class="col-6 text-center">
                    <p style="color: #588157;" class="lead text-center"><strong>Back-End Stack</strong></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">NodeJS</li>
                        <li class="list-group-item">Express</li>
                        <li class="list-group-item">Mongoose</li>
                        <li class="list-group-item">MongoDB</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container shadow md-6 rounded d-flex flex-column bg-white px-4 py-3 mb-5 mx-2">
            <h4 class="display-4 mb-3">Get in Touch</h4>
            <p>I'm currently a freelance web developer looking to get some professional experience.
                I recently graduated from NuCamp's full-stack web and mobile development bootcamp and I've been working on personal projects and applying for jobs since.
                Check out my github and reach out if you'd like me to help you realize the project of your dreams!</p>
            <div class="container my-auto">
                <div class="d-flex flex-row ms-3 my-3">
                    <i style="font-size: 2rem; color: #586994;" class="fa-solid fa-envelope col-2 col-md-1 col-lg-2 col-xl-1"></i>
                    <p class="col-10 col-md-11 col-lg-10 col-xl-11 mt-1">brian.toch23@gmail.com</p>
                </div>
                <div class="d-flex flex-row ms-3 my-3">
                    <i style="font-size: 2rem; color: #588157;" class="fa-solid fa-phone col-2 col-md-1 col-lg-2 col-xl-1"></i>
                    <p class="col-10 col-md-11 col-lg-10 col-xl-11 mt-1">(215) 910-1467</p>
                </div>
                <div class="d-flex flex-row justify-content-start ms-3 my-3">
                    <a style="color: #586994;" href="https://github.com/btoch23" target="_blank" class="col-1 me-2"><i style="font-size: 2rem;" class="fa-brands fa-github"></i></a>
                    <a style="color: #588157;" href="https://www.linkedin.com/in/brian-tochterman-jr-991a1189" target="_blank" class="col-1"><i style="font-size: 2rem;" class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>