<% layout('layouts/boilerplate') %>
    <div class="container">
        <h1 class="display-3">What Did I Send Today?</h1>
        <p class="lead">
            <%= Date.now() %>
        </p>
    </div>