<% layout('layouts/boilerplate') %>
    <div class="container">
        <h1 class="display-4 text-center">What Did I Send Today?</h1>
        <div class="container d-flex justify-content-evenly">
            <small class="text-body-secondary">
                <strong>
                    <%= currentDate %>
                </strong>
            </small>
            <a class="btn btn-success" href="/new">Log Send</a>
        </div>
        <div class="container w-50">
            <div class="row rounded border border-black pt-3 mt-3">
                <div class="col-md-4 text-center">
                    <p>
                        <strong>Pink v6</strong>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <p>
                        <em>FA Avondale</em>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <p>
                        4 attempts
                    </p>
                </div>
            </div>
        </div>

    </div>
    </div>
    <div class="container md-6">
        <h1 class="display-4 text-center">Projects</h1>
        <div class="container d-flex justify-content-center">
            <a class="btn btn-primary" href="/new">Add Project</a>
        </div>
    </div>