<% layout('layouts/homeBoilerplate') %>
    <div class="container my-auto">
        <h1 class="display-1 text-center">
            Welcome to <strong style="color: #588157;">SendSheet</strong>
        </h1>
        <h5 class="display-5 text-center mt-5">A streamlined application that allows you to log sends, keep track of projects, and visualize your climbing progression</h5>
        <h5 class="display-5 text-center mt-5"><a onmouseover="signupLinkMouseover(this)" onmouseout="signupLinkMouseout(this)" style="color: #f6aca2;" class="text-decoration-none" href="/users/signup">Sign up</a> and start sending today!</h5>
    </div>