<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Route</h1>
        <div class="col-6 offset-3 mt-5">
            <form action="/problems" method="POST" novalidate class="validated-form">
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input placeholder="Color" class="form-control shadow" type="text" name="route[color]" id="color" required>
                            <label for="color">Color</label>
                            <div class="invalid-feedback">
                                Please enter a color
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <select class="form-select shadow" name="route[grade]" id="grade" required>
                                <option selcted></option>
                                <option value="5.6">5.6</option>
                                <option value="5.7">5.7</option>
                                <option value="5.8">5.8</option>
                                <option value="5.9">5.9</option>
                                <option value="5.10-">5.10-</option>
                                <option value="5.10">5.10</option>
                                <option value="5.10+">5.10+</option>
                                <option value="5.11-">5.11-</option>
                                <option value="5.11">5.11</option>
                                <option value="5.11+">5.11+</option>
                                <option value="5.12-">5.12-</option>
                                <option value="5.12">5.12</option>
                                <option value="5.12+">5.12+</option>
                                <option value="5.13-">5.13-</option>
                                <option value="5.13">5.13</option>
                                <option value="5.13+">5.13+</option>
                            </select>
                            <label for="grade">Choose Grade</label>
                            <div class="invalid-feedback">
                                Please choose a grade
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <select class="form-select shadow" name="route[attempts]" id="attempts" required>
                                <option selcted></option>
                                <option value="Onsighted">Onsighted</option>
                                <option value="Flashed">Flashed</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10+">10+</option>
                            </select>
                            <label for="attempts">Number of Attempts</label>
                            <div class="invalid-feedback">
                                Required
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input placeholder="Location" class="form-control shadow" type="text" name="route[location]" id="location" required>
                            <label for="location">Location</label>
                            <div class="invalid-feedback">
                                Please enter a location
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="true" id="sent" name="route[sent]">
                    <label class="form-check-label" for="sent">
                        Did you send?
                    </label>
                </div>
                <div class="mb-3">
                    <button id="routeBtn" class="btn">Log Route</button>
                </div>
            </form>
            <a style="color: #ee6352;" class="text-decoration-none" href="/problems">Cancel</a>
        </div>
    </div>