<% layout('layouts/boilerplate') %>
    <div class="row">
        <h5 class="display-5 text-center">
            <% if (boulder) { %>
                <%= boulder.title %>
                    <% } else if (route) {%>
                        <%= route.title %>
                            <% } %>
        </h5>
    </div>