<% layout('layouts/boilerplate') %>
    <h1>Log In</h1>
    <form action="/login" class="validated-form" method="POST" novalidate>
        <div class="form-floating mb-3">
            <input placeholder="Username" class="form-control" type="text" name="username" id="username" required>
            <label for="username">Username</label>
            <div class="invalid-feedback">
                Please enter a username
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-floating mb-3">
            <input placeholder="Password" class="form-control" type="password" name="password" id="password" required>
            <label for="password">Password</label>
            <div class="invalid-feedback">
                Please enter a password
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Log In</button>
    </form>